.TweetCard {
  margin-top: 30px;
  display: flex;
  width: 492px;
  padding: 15px;
  flex-direction: column;
  align-items: flex-start;
  gap: 29px;
  background: var(--ext---WHITE-SMOKE-LIGHT, #f9f9f9);

  /* soft */
  box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.09);
  
}



.Details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }
  .ProfileDetails {
    display: flex;
    align-items: center;
    gap: 28px;
  }
  
  .Description {
    align-self: stretch;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.304px;
    
    text-align-last: left;
  
  }
  